.skkg-component.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.skkg-component.card-container.horizontal-fill {
  flex-flow: unset;
}
.skkg-component.card-container.horizontal-fill .card-image img {
  max-width: 300% !important;
  width: auto;
  height: 100%;
}
.skkg-component.card-container.horizontal-scroll {
  overflow-x: auto;
  flex-flow: unset;
  flex-wrap: nowrap;
  -webkit-overflow-scrolling: touch;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.skkg-component.card-container.horizontal-scroll::-webkit-scrollbar {
  display: none;
}
.skkg-component.card-container.horizontal-scroll .card {
  flex: 0 0 20rem;
  max-width: 20rem;
  width: 100%;
}
.skkg-component.card-container .card {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px 0 rgba(169, 169, 169, 0.2);
  background-color: #fff;
  overflow: hidden;
  position: relative;
  flex: 0 1 20rem;
  margin-right: 1%;
  margin-bottom: 1%;
  transition: all 0.2s ease-in-out;
  top: 0;
  left: 0;
}
.skkg-component.card-container .card:hover {
  box-shadow: 0 2px 5px 0 rgba(169, 169, 169, 0.2);
  position: relative;
  top: -1px;
}
.skkg-component.card-container .card .card-body {
  background-color: #fff;
  bottom: 0;
  min-height: 4rem;
  padding: 8px 4px;
  text-align: center;
  position: absolute;
  width: 100%;
}
.skkg-component.card-container .card .card-image {
  max-width: 100%;
  height: 25rem;
  overflow: hidden;
}
.skkg-component.card-container .card .card-image img {
  max-width: 100%;
}
.skkg-component.card-container .card .card-image .icon {
  text-align: center;
  padding-top: 5rem;
}
.skkg-component.card-container .card .card-image .icon img {
  max-width: 60%;
}
.skkg-component.card-container .semantic-table-holder {
  width: 100%;
}
.skkg-component.home-title {
  font-size: 1.8rem;
  padding-bottom: 2rem;
}
.skkg-component.home-title h1 {
  font-size: 3.2rem;
  padding-top: 1rem;
}
.skkg-component.home-title a {
  font-weight: bold;
}
.skkg-component.home-title .tagline {
  font-size: 2.3rem;
  margin-bottom: 3rem;
}
.skkg-component.separator {
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.02) 0%, rgba(0, 0, 0, 0) 70px, rgba(0, 0, 0, 0) 100%);
  min-height: 100px;
  position: relative;
  margin-bottom: 0;
}
.skkg-component.separator.next-step::before {
  content: ".";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid transparent;
  border-top: 20px solid #fff;
}
.skkg-component.panel {
  background-color: #fff;
  padding: 2rem;
  padding: 2rem 0 2rem 2rem;
}
.skkg-component.panel.no-padding {
  padding: 0;
}
.skkg-component.panel .row {
  margin-right: 0;
}
.skkg-component.panel .form-content {
  padding: 2rem;
}
.skkg-component.panel .semantic-form {
  margin-right: 2rem;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
ul {
  margin-left: 0;
  padding-left: 10px;
}
#template-content > div > .row {
  margin-left: 0;
  margin-right: 0;
}
.form-control {
  width: 95%;
}
.notification-action-wrapper {
  text-align: right;
}
ol.page-breadcrumb {
  position: static;
}
#mp-popover .arrow {
  left: 20px !important;
}
.SemanticTreeInput--holder {
  display: none;
}
.semantic-facet-holder .facet {
  border: none;
}
.semantic-facet-holder .facet__category-selector-holder {
  display: none;
}
.semantic-facet-holder .facet__relation__header {
  border: 0;
  border-radius: 0.4rem;
  padding-right: 0.4rem;
}
.semantic-facet-holder .facet__relation__body {
  background-color: #fff;
}
.semantic-facet-holder .facet__relation__values {
  margin-top: 0;
  padding-top: 10px;
}
.semantic-facet-holder .show-facet-button {
  display: none;
}
.semantic-facet-holder .facet-relations {
  width: auto;
}
.pagination,
.griddle-footer .pagination {
  justify-content: center;
  margin-top: 1rem;
}
.pagination > li,
.griddle-footer .pagination > li {
  margin: 1.5rem 0;
}
.pagination > li > a,
.griddle-footer .pagination > li > a {
  font-weight: bold;
}
.pagination > li.active > a,
.griddle-footer .pagination > li.active > a {
  border-radius: 0.4rem;
}
