[
    {
        "id" : "gattung",

            "label": "Gattung",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { ?subject crm:P2_has_type ?value . ?value crm:P127_has_broader_term* type:21087 . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/gattung"
    },

    {
        "id" : "has_broader_term",

            "label": "Broader term",
            "description" : "The broader term of the subject",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crm:P127_has_broader_term ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/has_broader_term"
    },

    {
        "id" : "inv_nr",

            "label": "Inv.-Nr.",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { ?subject crm:P1_is_identified_by ?identifier . ?identifier crm:P2_has_type type:invnr ; crm:P190_has_symbolic_content ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/inv_nr"
    },

    {
        "id" : "pers_korp",

            "label": "Pers./Körp",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { ?subject crm:P108i_was_produced_by ?production . ?production crm:P9_consists_of ?subProduction . ?subProduction crm:P14_carried_out_by ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/pers_korp"
    },

    {
        "id" : "same_as",

            "label": "Same as",
            "description" : "The entity that is the same as the subject",
            "xsdDatatype" : "xsd:anyURI",
                "selectPattern" : "SELECT ?value WHERE { $subject crmdig:L54_is_same-as ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/same_as"
    },

    {
        "id" : "titel",

            "label": "Titel",
            "xsdDatatype" : "xsd:string",
                "selectPattern" : "SELECT ?value WHERE { ?subject crm:P1_is_identified_by ?title . ?title crm:P2_has_type/crm:P127_has_broader_term* type:32089 ; crm:P190_has_symbolic_content ?value . }",
        "iri" : "https://platform.swissartresearch.net/instances/fields/titel"
    }

]