{{#if onlybody}}
    [[> component-card-body]]
{{else}}
<div class="skkg-component card">
    <semantic-link iri="{{subject}}">
        [[> component-card-body subject=subject]]
    </semantic-link>
</div>
{{/if}}

[[#*inline "component-card-body"]]
<div class="skkg-component card-image">
    <mp-resource-thumbnail iri={{subject}} no-result-template="{{> no-image-template}}">
        <template id="no-image-template">
            <semantic-query
                query="SELECT ?type ?image WHERE {
                    <{{subject}}> a ?type .
                    VALUES (?type ?image) {
                        (skkg:Address '/images/fcs/places.svg')
                        (skkg:Collection '/images/icons/folder-open.svg')
                        (skkg:Exhibition '/images/fcs/building-columns-solid.svg')
                        (skkg:Group '/images/icons/group.svg')
                        (skkg:Literature '/images/fcs/book.svg')
                        (skkg:Multimedia '/images/fcs/file.svg')
                        (skkg:Object '/images/fcs/things.svg')
                        (skkg:Person '/images/fcs/actors.svg')
                        (skkg:Place '/images/fcs/places.svg')
                        (skkg:Type '/images/fcs/concepts.svg')
                    }
                } LIMIT 1"
                template="{{> template}}"
            >
                <template id="template">
                    <div class="skkg-component icon">
                        {{#each bindings}}
                            <img src="{{image.value}}" style="opacity:0.1;">
                        {{/each}}
                    </div>
                </template>
            </semantic-query>
        </template>
    </mp-resource-thumbnail>
</div>
<div class="skkg-component card-body">
    <mp-label iri="{{subject}}"></mp-label> 
</div>
[[/inline]]