[[> partial:pageHeader ]]
<div class="skkg-component home-title">
    <bs-row>
        <bs-col md="10" md-offset="1">
            <h1>SKKG ResearchSpace</h1>
            <p class="skkg-component tagline">
                The ResearchSpace instance for the SKKG Museum Digital project
            </p>
            <p class="skkg-component summary">
                <semantic-query
                    query="SELECT DISTINCT ?type (COUNT(?s) as ?num) WHERE {
                        ?s a ?type .
                        ?type rdfs:subClassOf skkg:Entity .
                        ?type rdfs:label ?label .
                        } GROUP BY ?type ORDER BY ?label"
                    template="{{> template-summary}}"
                >
                    <template id="template-summary">
                        <p>The instance provides access to the semantic data that has been generated
                        based on the collection data found in MuseumPlus.
                        You can use this instance to <semantic-link iri="page:browse">browse the data</semantic-link>
                        and to explore the <semantic-link iri="page:vocabularies">vocabularies</semantic-link>.</p>
                        <p>Currently, the instance contains
                        {{#each bindings}}
                            {{#if @last}} and {{/if}}{{num.value}} <mp-label iri="{{type.value}}"></mp-label> items{{#unless @last}}, {{/unless}}
                            
                        {{/each}}
                        </p>
                </semantic-query>
            </p>
        </bs-col>
    </bs-row>
</div>

<div class="skkg-component separator panel">
    <bs-row>
        <bs-col md="2">
            <h3>Objects</h3>
            [[> resourceSummary type='skkg:Object' label='Objects']]
        </bs-col>
        <bs-col md="10" class="skkg-component card-container horizontal-scroll">
            [[#> cards type='skkg:Object' ]]
            [[/ cards]]
        </bs-col>
    </bs-row>
</div>

[[> partial:pageFooter]]


[[#*inline "cards"]]
    <semantic-query
        query="SELECT DISTINCT ?subject WHERE {
            ?subject a [[type]] .
            BIND(DAY(NOW()) as ?day)
            BIND(SHA512(CONCAT(STR(?day), STR(?subject))) AS ?random)
            [[> @partial-block ]]
        } ORDER BY ?random LIMIT 10"
        template="{{> template-image-summary}}"
        >
        <template id="template-image-summary">
            {{#each bindings}}
                {{> partial:entityCard subject=subject.value }}
            {{/each}}
        </template>
    </semantic-query>
[[/inline]]

[[#*inline "resourceSummary"]]
    <semantic-query
        query="SELECT (COUNT(?subject) as ?num) WHERE {
            ?subject a [[type]] .
            [[#if condition]]
                ?subject [[condition]] .
            [[/if]]
        }"
        template="{{#each bindings}}Currently there are {{num.value}} [[label]]. Here are some examples:{{/each}}"
    ></semantic-query>
    [[#if browse]]
        <div class="bottom">
            <semantic-link 
                iri="page:search"
                urlqueryparam-browse="[[browse]]"
            >
                See all </semantic-link>
        </div>
    [[/if]]
    [[#if link]]
        <div class="bottom">
            <semantic-link 
                iri="[[link]]"
            >
                See all</semantic-link>
        </div>
    [[/if]]
[[/inline]]
