[[> partial:pageHeader ]]


<mp-splitpane min-size=35 dock=true>
    <div data-flex-layout="column top-stretch" style="border-right: 1px solid #a2a2a2; border-top: 1px solid #eee; background: #f5f5f5; height: auto; overflow-y: auto;">
        <mp-splitpane-toggle-on>
            <button style="border: none; background: transparent; padding: 15px 2px; outline: none; width: 100%;">
                <i class="fa fa-angle-double-right" style="font-size: 20px;" aria-hidden="true"></i>
            </button>
        </mp-splitpane-toggle-on>
        <mp-splitpane-toggle-off>
            <button data-flex-layout="row center-left" style="border: none; border-bottom: 1px solid #999; background: #fff; padding: 15px; outline: none; width: 100%;">
                <h4 style="margin: 0px;">Vocabularies</h4>
                <div class="fa fa-angle-double-left" style="font-size: 20px; margin-left: auto;" aria-hidden="true"></div>
            </button>
        </mp-splitpane-toggle-off>
        <mp-splitpane-sidebar-open style="display: flex; flex-direction: column; flex: auto;">
            [[> component-vocabularies-tree]]
        </mp-splitpane-sidebar-open>
    </div>
    <div>
        [[> partial:contentHeader ]]
        [[> component-vocabulary-content ]]
        [[> partial:contentFooter ]]
    </div>
</mp-splitpane>

[[> partial:pageFooter]]

[[#*inline "component-vocabulary-content"]]

    <mp-event-target-template-render id="vocabulary-content-renderer" template="{{> template}}">
        <template id="template">
            <mp-event-proxy
                id="proxy"
                on-event-type="SemanticUpdate.Success"
                proxy-event-type="Component.TemplateUpdate" 
                proxy-targets='["vocabulary-content-renderer"]' data='{"iri": "{{iri}}"}'>
            </mp-event-proxy>
            {{#if iri}}
                <h2><mp-label iri="{{iri}}"></mp-label></h2>
                <!--
                    insert: parent terms
                    next/previous term
                -->
                [[> module-term-details]]
                [[> module-suggested-alignment ]]
                [[> module-add-alignment ]]
                
            {{else}}

                <p>Select a vocabulary entry in the sidebar on the left.</p>

            {{/if}}
        </template>        
    </mp-event-target-template-render>
[[/inline]]

[[#*inline "component-vocabularies-tree"]]

<semantic-lazy-tree 
        collapsed="true"
        type="query"
        page-size="1000"
        config='{
            "rootsQuery": "SELECT ?item ?label ?hasChildren WHERE {
                    ?item a skos:ConceptScheme ;
                        rdfs:label ?label .
                    OPTIONAL {
                        ?child crm:P127_has_broader_term ?item .
                    }
                    BIND(BOUND(?child) AS ?hasChildren)
                } ORDER BY ?label
                LIMIT 1000",
            "childrenQuery": "SELECT ?item ?label ?hasChildren ?hasSameAs WHERE {
                ?item crm:P127_has_broader_term ?parent ;
                    rdfs:label ?label .
                OPTIONAL {
                    ?child crm:P127_has_broader_term ?item .
                }
                BIND(BOUND(?child) AS ?hasChildren)
                OPTIONAL {
                    ?item crmdig:L54_is_same-as ?sameAs .
                    BIND(\"true\"^^xsd:boolean AS ?hasSameAs)
                }
            } ORDER BY ?label",
            "parentsQuery": "SELECT ?parent WHERE {
                ?item crm:P127_has_broader_term ?parent .
            }",
            "searchQuery": "SELECT ?item WHERE {
                ?item rdfs:label ?label .
                ?label bds:search ?__token__ .
            }"
        }'
        info-template="{{> template-info}}"
    >
        <template id="template-info">
            <semantic-if
                query="ASK {
                    <{{iri}}> crmdig:L54_is_same-as ?sameAs .
                }"
                then="<span style='margin-left:5px;'><i class='fa fa-link'></i></span>"
            ></semantic-if>
        </template>
    </semantic-lazy-tree>

    <mp-event-proxy
        id="proxy"
        on-event-type="LazyTree.ItemSelected"
        proxy-event-type="Component.TemplateUpdate" 
        proxy-targets='["vocabulary-content-renderer"]'>
    </mp-event-proxy>
  
[[/inline]]

[[#*inline "module-add-alignment"]]
    <h3>Manual Alignments</h3>

    <semantic-query
        query="SELECT ?subject ?alignment (MIN(?labels) as ?label) WHERE {
            BIND(<{{iri}}> AS ?subject)
            GRAPH graph:alignments {
                ?subject crmdig:L54_is_same-as ?alignment .
            }
            ?alignment rdfs:label ?labels .
        } GROUP BY ?subject ?alignment
        ORDER BY DESC(?label)"
        template="{{> vocabulary-alignment-template}}"
    >
        <template id="vocabulary-alignment-template">
            [[> template-vocabulary-alignment]]
        </template>
    </semantic-query>

    [[#if (hasPermission "sparql:default:update")]]
        <mp-overlay-dialog title="Add Alignment" type="modal" bs-size="large">
            <mp-overlay-dialog-trigger>
                <button class="btn btn-default">Add New Alignment</button>
            </mp-overlay-dialog-trigger>
            <mp-overlay-dialog-content>
                <div width="800px">
                    <mp-page-loader iri="page:alignTerm" 
                        urlqueryparam-termiri="{{iri}}"
                        urlqueryparam-type="SubjectHeading"
                    ></mp-page-loader>
                </div>
            </mp-overlay-dialog-content>
        </mp-overlay-dialog>
    [[/if]]
[[/inline]]

[[#*inline "module-suggested-alignment"]]

    <semantic-context repository="secondary">
        <semantic-query
            query="SELECT ?subject ?alignment (MIN(?labels) as ?label) WHERE {
                BIND(<{{iri}}> AS ?subject)
                ?aa crm:P140_assigned_attribute_to ?subject ;
                    crm:P141_assigned ?alignment ;
                    crm:P177_assigned_property_of_type ?match ;
                    rdf:value ?score .
                ?alignment rdfs:label ?labels .
                VALUES (?match) {
                    (skos:exactMatch)
                    (skos:closeMatch)
                }
            } GROUP BY ?subject ?alignment
            ORDER BY DESC(?score)"
            template="{{> vocabulary-alignment-template}}"
        >
            <template id="vocabulary-alignment-template">
                <h3>Suggested Alignments</h3>
                [[> template-vocabulary-alignment hideAccepted=true]]
            </template>
        </semantic-query>
    </semantic-context>
[[/inline]]

[[#*inline "module-term-details"]]

    <h3>Details</h3>

    <p>
        <semantic-link iri="{{iri}}">Go to source</semantic-link>
    </p>
    <dl>
        <semantic-query
            query="SELECT ?value WHERE { <{{iri}}> crm:P127_has_broader_term ?value . }"
            template="{{> template-broader-term}}">
            <template id="template-broader-term">
                <dt>Broader term</dt>
                {{#each bindings}}
                    <dd>
                        <mp-event-trigger 
                            id="vocabulary-trigger-broader"
                            type="Component.TemplateUpdate"
                            targets='["vocabulary-content-renderer"]'
                            data='{
                                "iri": "{{value.value}}"
                            }'
                        >
                            <a><mp-label iri="{{value.value}}"></mp-label></a>
                        </mp-event-trigger>
                    </dd>
                {{/each}}
            </template>
        </semantic-query>
    </dl>

    [[> partial:fieldDefinitionsInline ]]
    [[> partial:fieldVisualisationTemplates ]]
    
    [[!-- Do not display yet
    <mp-field-visualization
        subject="{{iri}}"
        fields='[
            [[> has_broader_term]],
            [[> same_as]]
        ]'
        template='{{> field-table-template }}'
    >
        [[> field-table-template]]
        
    </mp-field-visualization>
    --]]

[[/inline]]

[[#*inline "template-vocabulary-alignment"]]
    <table>
        <thead>
            <tr>
                <th>Term</th>
                <th>Source</th>
                <th colspan="2"></th>
            </tr>
        </thead>
        <tbody>
            {{#each bindings}}
                <tr>
                    <td><mp-label iri="{{alignment.value}}"></mp-label></td>
                    <td>
                        <a href="{{alignment.value}}" target="_blank">{{alignment.value}}</a>
                    </td>
                    <semantic-context repository="default">
                        <semantic-if
                            query="ASK { <{{subject.value}}> crmdig:L54_is_same-as <{{alignment.value}}> . }"
                            then="{{> template-remove}}"
                            else="{{> template-accept}}">
                            <template id="template-accept">
                                <td>
                                    [[#if (hasPermission "sparql:default:update")]]
                                        <semantic-update
                                            query='INSERT DATA {
                                                GRAPH graph:alignments {
                                                        <{{subject.value}}> crmdig:L54_is_same-as <{{alignment.value}}> .
                                                        <{{alignment.value}}> rdfs:label "{{label.value}}" .
                                                    }
                                                }'
                                            post-action="event">
                                            <button type="button" class="btn btn-primary">Accept</button>
                                        </semantic-update>
                                    [[/if]]
                                </td>
                                <td></td>
                            </template>
                            <template id="template-remove">
                                <td>
                                    Accepted
                                </td>
                                <td>
                                    [[#if (hasPermission "sparql:default:update")]]
                                        <semantic-update
                                            query="DELETE {
                                                    GRAPH graph:alignments {
                                                        <{{subject.value}}> crmdig:L54_is_same-as <{{alignment.value}}> .                                                    }
                                                } WHERE {}"
                                            post-action="event">
                                            <button type="button" class="btn">Remove</button>
                                        </semantic-update>
                                    [[/if]]
                                </td>
                            </template>
                        </semantic-if>
                    </semantic-context>
                </tr>
            {{/each}}
        </tbody>
    </table>
[[/inline]]
