[[> partial:pageHeader ]]
<div class="skkg-component home-title">
    <bs-row>
        <bs-col md="10" md-offset="1">
            <h1>SKKG ResearchSpace</h1>
            <p class="skkg-component tagline">
                The ResearchSpace instance for the SKKG Sammlung Digital project
            </p>
            <p class="skkg-component summary">The instance provides access to the semantic data that has been generated
                based on the collection data found in MuseumPlus.
                You can use this instance to <semantic-link iri="page:browse">browse the data</semantic-link>
                and to explore the <semantic-link iri="page:vocabularies">vocabularies</semantic-link>.</p>
            <p class="skkg-component summary">
                <semantic-query
                    query="SELECT DISTINCT ?type ?rounded_num WHERE {
                        {
                            SELECT DISTINCT ?type (COUNT(DISTINCT ?s) as ?num) WHERE {
                                ?s a ?type .
                                ?type rdfs:subClassOf skkg:Entity .
                                ?type rdfs:label ?label .
                            } GROUP BY ?type ORDER BY DESC(?num)
                        }
                        BIND(IF(STRLEN(STR(?num))>3, CONCAT(SUBSTR(STR(?num), 0, STRLEN(STR(?num)) - 3), '\'000'), ?num) as ?rounded_num)
                    }
                   "
                    template="{{> template-summary}}"
                >
                    <template id="template-summary">
                        
                        <p>Currently, the instance contains about
                        {{#each bindings}}
                            {{#if @last}} and {{/if}}{{rounded_num.value}} <mp-label iri="{{type.value}}"></mp-label> items{{#if @last}}.{{/if}}{{#unless @last}}, {{/unless}}
                            
                        {{/each}}
                        </p>
                </semantic-query>
            </p>
        </bs-col>
    </bs-row>
</div>

[[> itemPanel item="Object"]]
[[> itemPanel item="Person"]]
[[> itemPanel item="Address"]]
[[> itemPanel item="Literature"]]
[[> itemPanel item="Multimedia"]]
[[> itemPanel item="Exhibition"]]

[[> partial:pageFooter]]


[[#*inline "cards"]]
    <semantic-query
        query="SELECT DISTINCT ?subject WHERE {
            ?subject a skkg:[[type]] .
            BIND(DAY(NOW()) as ?day)
            BIND(SHA512(CONCAT(STR(?day), STR(?subject))) AS ?random)
            [[> @partial-block ]]
        } ORDER BY ?random LIMIT 10"
        template="{{> template-image-summary}}"
        >
        <template id="template-image-summary">
            {{#each bindings}}
                {{> partial:entityCard subject=subject.value }}
            {{/each}}
        </template>
    </semantic-query>
[[/inline]]

[[#*inline "itemPanel"]]

    <div class="skkg-component separator panel">
        <bs-row>
            <bs-col md="2">
                <h3>[[item]]</h3>
                [[> resourceSummary type=item]]
            </bs-col>
            <bs-col md="10">
                <div class="skkg-component card-container horizontal-scroll">
                [[#> cards type=item ]]
                [[/ cards]]
                </div>
            </bs-col>
        </bs-row>
    </div>

[[/inline]]

[[#*inline "resourceSummary"]]
    <semantic-query
        query="SELECT (COUNT(?subject) as ?num) WHERE {
            ?subject a skkg:[[type]] .
            [[#if condition]]
                ?subject [[condition]] .
            [[/if]]
        }"
        template="{{#each bindings}}Currently there are {{num.value}} [[type]] items. Here are some examples:{{/each}}"
    ></semantic-query>
    [[#if browse]]
        <div class="bottom">
            <semantic-link 
                iri="page:search"
                urlqueryparam-browse="[[browse]]"
            >
                See all </semantic-link>
        </div>
    [[/if]]
    [[#if link]]
        <div class="bottom">
            <semantic-link 
                iri="[[link]]"
            >
                See all</semantic-link>
        </div>
    [[/if]]
[[/inline]]
