[[> partial:pageHeader ]]
[[> partial:contentHeader ]]

<h2>SKKG</h2>

<semantic-search
    categories='[[> partial:searchCategories ]]'
    search-profile='[[> partial:searchProfile ]]'
    relations='[[> partial:searchRelations ]]'
    limit='1000'
>
    <semantic-search-query-constant 
        domain='<[[resolvePrefix "skkg:Object"]]>'
        query='SELECT ?subject WHERE { 
            ?subject a ?type ;
                rdfs:label ?label .
            VALUES (?type) {
                (skkg:Group)
                (skkg:Exhibition)
                (skkg:Multimedia)
                (skkg:Object)
                (skkg:Person)
            }
        } ORDER BY ?label'
    ></semantic-search-query-constant>

    <bs-row>
        <bs-col md="2" sm="12">
            <semantic-search-facet
                open-by-default="true"
                facet-values-threshold="1000"
                default-value-queries='{
                    "literal": "SELECT ?literal ?order (COUNT(DISTINCT $subject) AS ?count) 
                        WHERE { FILTER(?__facetRelationPattern__) } 
                    GROUP BY ?literal ?order ORDER BY ?order ?literal"
                }'
            >
            </semantic-search-facet>

        </bs-col>

        <bs-col md="10" sm="12"> 
            <semantic-search-query-keyword 
                min-search-term-length='3' 
                debounce='600'
                default-query='SELECT ?subject WHERE {
                    ?subject a ?type ;
                        rdfs:label ?label .

                    VALUES (?type) {
                        (skkg:Group)
                        (skkg:Exhibition)
                        (skkg:Multimedia)
                        (skkg:Object)
                        (skkg:Person)
                    }
                } ORDER BY ?label'

                query='SELECT ?subject WHERE {
                    ?subject a/rdfs:subClassOf* skkg:Entity;
                    rdfs:label|(crm:P1_is_identified_by/crm:P190_has_symbolic_content) ?searchTerm .   
                    SERVICE <http://www.bigdata.com/rdf/search#search> {
                        ?searchTerm
                                bds:search        ?__token__ ;
                                bds:relevance     ?score ;
                                bds:matchAllTerms "true";
                                bds:rank          ?rank .
                    }
                } ORDER BY DESC(?score) ?searchTerm
            '>
            </semantic-search-query-keyword>
            <semantic-search-result-holder>
                <div data-flex-self="md-full">
                    <semantic-search-facet-breadcrumbs></semantic-search-facet-breadcrumbs>
            
                    <semantic-search-result>
                        <div class="skkg-component card-container">
                            <semantic-table 
                                id='grid-result'
                                query='SELECT DISTINCT ?subject WHERE {
                                }'
                                number-of-displayed-rows="50"
                                tuple-template='{{> partial:entityCard subject=subject.value }}'
                                options='{
                                    "showFilter": false
                                }'
                            >    
                            </semantic-table>
                        </div>
                    </semantic-search-result>
                </div>
            </semantic-search-result-holder>
        </bs-col>
    </bs-row>

</semantic-search>

[[> partial:contentFooter ]]
[[> partial:pageFooter]]