[[> partial:pageHeader ]]


<mp-splitpane min-size=35 dock=true>
    <div data-flex-layout="column top-stretch" style="border-right: 1px solid #a2a2a2; border-top: 1px solid #eee; background: #f5f5f5; height: auto; overflow-y: auto;">
        <mp-splitpane-toggle-on>
            <button style="border: none; background: transparent; padding: 15px 2px; outline: none; width: 100%;">
                <i class="fa fa-angle-double-right" style="font-size: 20px;" aria-hidden="true"></i>
            </button>
        </mp-splitpane-toggle-on>
        <mp-splitpane-toggle-off>
            <button data-flex-layout="row center-left" style="border: none; border-bottom: 1px solid #999; background: #fff; padding: 15px; outline: none; width: 100%;">
                <h4 style="margin: 0px;">Vocabularies</h4>
                <div class="fa fa-angle-double-left" style="font-size: 20px; margin-left: auto;" aria-hidden="true"></div>
            </button>
        </mp-splitpane-toggle-off>
        <mp-splitpane-sidebar-open style="display: flex; flex-direction: column; flex: auto;">
            [[> component-vocabularies-tree]]
        </mp-splitpane-sidebar-open>
    </div>
    <div>
        [[> partial:contentHeader ]]
        [[> component-vocabulary-content ]]
        [[> partial:contentFooter ]]
    </div>
</mp-splitpane>

[[#*inline "component-vocabulary-content"]]

    <mp-event-target-template-render id="vocabulary-content-renderer" template="{{> template}}">
        <template id="template">
            <mp-event-proxy
                id="proxy"
                on-event-type="SemanticUpdate.Success"
                proxy-event-type="Component.TemplateUpdate" 
                proxy-targets='["vocabulary-content-renderer"]' data='{"iri": "{{iri}}"}'>
            </mp-event-proxy>
            {{#if iri}}
                <h2><mp-label iri="{{iri}}"></mp-label></h2>
                <p>
                    <semantic-link iri="{{iri}}">source</semantic-link>
                </p>
                <!--
                    insert: parent terms
                    next/previous term
                -->
                <semantic-context repository="secondary">
                    <semantic-query
                        query="SELECT * WHERE {
                            BIND(<{{iri}}> AS ?subject)
                            ?aa crm:P140_assigned_attribute_to ?subject ;
                                crm:P141_assigned ?alignment ;
                                crm:P177_assigned_property_of_type ?match ;
                                rdf:value ?score .
                            VALUES (?match) {
                                (skos:exactMatch)
                                (skos:closeMatch)
                            }
                        } ORDER BY DESC(?score)"
                        template="{{> vocabulary-alignment-template}}"
                    >
                        <template id="vocabulary-alignment-template">
                            <h3>Suggested Alignments</h3>
                            <table>
                                <thead>
                                    <tr>
                                        <th>Term</th>
                                        <th>Source</th>
                                        <th colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each bindings}}
                                        <tr>
                                            <td><mp-label iri="{{alignment.value}}"></mp-label></td>
                                            <td>
                                                <a href="{{alignment.value}}" target="_blank">{{alignment.value}}</a>
                                            </td>
                                            <semantic-context repository="default">
                                                <semantic-if
                                                    query="ASK { <{{subject.value}}> crmdig:L54_is_same-as <{{alignment.value}}> . }"
                                                    then="{{> template-remove}}"
                                                    else="{{> template-accept}}">
                                                    <template id="template-accept">
                                                        <td>
                                                            [[#if (hasPermission "sparql:default:update")]]
                                                                <semantic-update
                                                                    query="INSERT DATA {
                                                                        GRAPH graph:alignments {
                                                                            <{{subject.value}}> crmdig:L54_is_same-as <{{alignment.value}}> .
                                                                        }
                                                                        }"
                                                                    post-action="event">
                                                                    <button type="button" class="btn btn-primary">Accept</button>
                                                                </semantic-update>
                                                            [[/if]]
                                                        </td>
                                                        <td></td>
                                                    </template>
                                                    <template id="template-remove">
                                                        <td>
                                                            Accepted
                                                        </td>
                                                        <td>
                                                            [[#if (hasPermission "sparql:default:update")]]
                                                                <semantic-update
                                                                    query="DELETE {
                                                                            GRAPH graph:alignments {
                                                                                <{{subject.value}}> crmdig:L54_is_same-as <{{alignment.value}}> .
                                                                            }
                                                                        } WHERE {}"
                                                                    post-action="event">
                                                                    <button type="button" class="btn">Remove</button>
                                                                </semantic-update>
                                                            [[/if]]
                                                        </td>
                                                    </template>
                                                </semantic-if>
                                            </semantic-context>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </template>
                    </semantic-query>
                </semantic-context>
                
            {{else}}

                <p>Select a vocabulary entry in the sidebar on the left.</p>
            
            {{/if}}
        </template>        
    </mp-event-target-template-render>
[[/inline]]

[[#*inline "component-vocabularies-tree"]]

<semantic-tree 
    collapsed="true"
    query="
    SELECT ?node ?parent ?hasSameAs WHERE {
        ?node crm:P127_has_broader_term ?parent .
        ?parent rdfs:label ?parentLabel .
        ?node rdfs:label ?nodeLabel .
        OPTIONAL {
            ?node crmdig:L54_is_same-as ?sameAs .
            BIND('true'^^xsd:boolean AS ?hasSameAs)
        }
    } ORDER BY ?parentLabel ?nodeLabel"
    tuple-template="{{> nodeTemplate }}"
    >
    <template id="nodeTemplate">
        <mp-event-trigger 
            id="vocabulary-trigger-{{node.value}}"
            type="Component.TemplateUpdate"
            targets='["vocabulary-content-renderer"]'
            data='{
                "iri": "{{node.value}}"
            }'
        >
            <a><mp-label iri="{{node.value}}"></mp-label> {{#if hasSameAs.value}}&nbsp;<i class="fa fa-link"></i>{{/if}}</a>
        </mp-event-trigger>
    </template>
</semantic-tree>
[[/inline]]

[[> partial:pageFooter]]