[[> partial:pageHeader ]]
[[> partial:contentHeader ]]
<div style="height: 100%">
    <h1>Map View</h1>
    <div style='height: 60vw;'>
    <semantic-map
        query='
        SELECT ?entity ?wkt WHERE {
            {
                ?entity wdt:P625 ?wkt .
            } UNION {
                ?entity geo:hasGeometry/geo:asWKT ?wktRaw .
                BIND(REPLACE(STR(?wktRaw), "\\+", "") AS ?wktClean)
                BIND(STRDT(?wktClean, geo:wktLiteral) AS ?wkt)
            }
        }'
        tuple-template='<b><semantic-link iri="{{entity.value}}"></semantic-link></b>'
    ></semantic-map>
    </div>
</div>

[[> partial:pageFooter ]]
[[> partial:contentFooter ]]
