<ol class="page-breadcrumb">
    <li>
      <mp-link title="Home" url="/">Home</mp-link>
    </li>
    <li class="active">
      <mp-label iri='[[this]]'></mp-label>
    </li>
  </ol>
  
<style>
  #tabs .tab-ontodia {
    margin: 0px;
    padding: 2px 0px 0px;
    width: 100%;
    height: calc(100vh - 300px);
  }
</style>



<!-- Hide image tab if no data present -->
<semantic-if
  query="ASK {
    BIND(<[[this]]> AS ?subject)
    ?subject crm:P138i_has_representation?/la:digitally_shown_by/la:digitally_available_via/la:access_point ?iiif
   }"
  then=""
  else="{{> template-css-hide-images}}">
  <template id="template-css-hide-images">
    <style>
      #record-tabs > div > ul > li:nth-child(2) {
        display: none;
      }
    </style>
  </template>
</semantic-if>

<div class="page">
  [[#if (ask "ASK { {SELECT * WHERE {?? ?p ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?? ?o}LIMIT 1}UNION {SELECT * WHERE {?s ?p ??}LIMIT 1}UNION{ {SELECT * WHERE {?a ?p ?o. FILTER(??=<Template:http://www.w3.org/2000/01/rdf-schema#Resource> )} LIMIT 1} } }")]]
    <div class='page__header-navtabs'>
      [[> Platform:DefaultResourceHeader]]
    </div>
    <div id="record-tabs">
      <bs-tabs id="tabs" class='page__body-navtabs' unmount-on-exit=true>
        <bs-tab event-key="fields" title="Fields">
          [[> module-field-visualisation]]
        </bs-tab>
        <bs-tab event-key="image" title="Images">
          [[> module-images ]]
        </bs-tab>
        <bs-tab event-key="graph" class="tab-ontodia" title="Knowledge Graph">
          <ontodia id='ontodia' hide-toolbar=true hide-panels=true hide-scroll-bars=true hide-navigation-confirmation=true auto-zoom=true settings=nostats iri='[[this]]'></ontodia>
        </bs-tab>
        <bs-tab event-key="network" title="Network">
          [[> module-network]]
        </bs-tab>
        <bs-tab event-key="statements" title="Source">
          [[> Platform:SourceStatements]]
        </bs-tab>
      </bs-tabs>
    </div>
  [[else]]
  <div class='page__body'>
    <p>
      It seems that no entity with IRI <code>"[[this]]"</code> in any subject, predicate or object position is known in the knowledge graph. Also no static application page with this identifier can be found.
    </p>
    <p>
      Click on the edit button (<i class="fa fa-pencil"></i>) in the top right of this page (<i>only visible if the respective ACL permissions are being granted to you</i>) to create a new, static application page with this identifier.
    </p>
  </div>
  [[/if]]
</div>

[[#*inline "construct-network-collaborations"]]
    ?object crm:P108i_was_produced_by/crm:P9_consists_of/crm:P14_carried_out_by ?subject, ?o .
    FILTER(?subject != ?o)
    BIND(foaf:collaboratedWith AS ?p)
[[/inline]]

[[#*inline "construct-network-object-producers"]]
  ?subject crm:P108i_was_produced_by/crm:P9_consists_of/crm:P14_carried_out_by ?o .
  BIND(foaf:producedBy AS ?p)
[[/inline]]

[[#*inline "construct-network-objects-produced"]]
  ?o crm:P108i_was_produced_by/crm:P9_consists_of/crm:P14_carried_out_by ?subject .
  BIND(foaf:produced AS ?p)
[[/inline]]

[[#*inline "construct-network-object-exhibitions"]]
    ?o crm:P16_used_specific_object ?set .
    ?set la:has_member ?subject .
    BIND(skkg:exhibitedBy as ?p)
[[/inline]]

[[#*inline "construct-network-objects-exhibited"]]
    ?subject crm:P16_used_specific_object ?set .
    ?set la:has_member ?o .
    BIND(skkg:exhibited as ?p)
[[/inline]]

[[#*inline "construct-network-object-material"]]
    ?subject crm:P45_consists_of ?o .
    BIND(crm:P45_consists_of as ?p)
[[/inline]]

[[#*inline "construct-network-objects-referenced"]]
    ?subject crm:P165_incorporates/crm:P67_refers_to ?o .
    BIND(crm:P67_refers_to as ?p)
[[/inline]]

[[#*inline "construct-network-material-objects"]]
    ?o crm:P45_consists_of ?subject .
    BIND(crm:P45i_is_incorporated_in as ?p)
[[/inline]]

[[#*inline "construct-network-referenced-in-literature"]]
    ?o crm:P165_incorporates/crm:P67_refers_to ?subject .
    BIND(crm:P67i_is_referred_to_by as ?p)
[[/inline]]


[[#*inline "module-network"]]

  <semantic-sigma-graph
      controls="true"
      persist-graph="true"
      width="100%"
      height="600px"
      grouping='{
        "enabled": true,
        "threshold": 5,
        "behaviour": "replace"
      }'
      colours='{
              "[[resolvePrefix "crm:E21_Person"]]": "#FF66B3",
              "[[resolvePrefix "crm:E74_Group"]]": "#f9987e",
              "[[resolvePrefix "crm:E39_Actor"]]": "#e44343",
              "[[resolvePrefix "crm:E53_Place"]]": "#00CC66",
              "[[resolvePrefix "crm:E78_Curated_Holding"]]": "#FFD966",
              "[[resolvePrefix "crm:E5_Event"]]": "#0099FF",
              "[[resolvePrefix "crm:E55_Type"]]": "#fab565",
              "[[resolvePrefix "skkg:Exhibition"]]": "#0099FF",
              "[[resolvePrefix "crm:E22_Human-Made_Object"]]": "#B0927A"
          }'
      sizes='{
          "nodes": 10,
          "edges": 1
      }'
      query="
        PREFIX foaf: <http://xmlns.com/foaf/0.1/>
        CONSTRUCT {
          ?subject ?p ?o .
          ?subject a ?typeSubject .
          ?o a ?typeObject .
        } WHERE {
          BIND(<[[this]]> AS ?subject)
          ?subject a ?typeSubject .
          {
            [[> construct-network-collaborations]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-object-exhibitions]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-object-material]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-objects-exhibited]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-object-producers]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-objects-produced]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-material-objects]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-objects-referenced]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-referenced-in-literature]]
            ?o a ?typeObject .
          }
      } LIMIT 1000"
      node-query="
        PREFIX foaf: <http://xmlns.com/foaf/0.1/>
        CONSTRUCT {
          ?subject ?p ?o .
          ?subject a ?typeSubject .
          ?o a ?typeObject .
        } WHERE {
          ?subject a ?typeSubject .
          {
            [[> construct-network-collaborations]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-object-exhibitions]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-object-material]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-objects-exhibited]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-object-producers]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-objects-produced]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-material-objects]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-objects-referenced]]
            ?o a ?typeObject .
          } UNION {
            [[> construct-network-referenced-in-literature]]
            ?o a ?typeObject .
          }
      } LIMIT 1000"
  ></semantic-sigma-graph>
[[/inline]]

[[#*inline "module-images"]]

  <div class="skkg-component card-container entity-details-images">
    <semantic-query
      query="SELECT ?iiif ?pageNr WHERE {
        BIND(<[[this]]> AS ?subject)
        ?subject crm:P138i_has_representation?/la:digitally_shown_by ?digitalObject .
        ?digitalObject la:digitally_available_via/la:access_point ?iiif .
        
        ?digitalObject ^la:digitally_shown_by ?multimediaItem .
        ?multimediaItem crm:P1_is_identified_by ?orderId .
        ?orderId crm:P2_has_type type:sortlnu ;
            crm:P190_has_symbolic_content ?order .
        ?assignment crm:P140_assigned_attribute_to ?multimediaItem ;
            crm:P141_assigned ?orderId ;
            crm:P16_used_specific_object ?subject .
      } ORDER BY xsd:integer(?order)"
      template='{{> template-images }}'
    >
      <template id="template-images">
        {{#each bindings}}
          <mp-overlay-dialog title="Image Viewer" type="modal" bs-size="large">
              <mp-overlay-dialog-trigger>
                <a href="{{iiif.value}}/full/max/0/default.jpg" class="skkg-component card">
                  <img src="{{iiif.value}}/full/300,/0/default.jpg"/>
                  <p class="text-align-center">{{pageNr.value}}</p>
                </a>
              </mp-overlay-dialog-trigger>
              <mp-overlay-dialog-content
                  id="image-modal">
                      <mp-page-loader 
                          iri="[[ resolvePrefix 'page:viewImage']]"
                          urlqueryparam-imageiri="{{iiif.value}}"
                          urlqueryparam-overlay="true"
                      ></mp-page-loader>
              </mp-overlay-dialog-content>
          </mp-overlay-dialog>
        {{/each}}
      </template>
    </semantic-query>
  </div>
[[/inline]]

[[#*inline "module-field-visualisation"]]
  [[> partial:fieldVisualisationTemplates ]]
  <mp-field-visualization
      subject="[[this]]"
      fields='[[> partial:fieldDefinitions ]]'
      template='{{> field-table-template }}'
  >
      [[> field-table-template]]
      
  </mp-field-visualization>
[[/inline]]